body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
nav{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.nav-el{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-el a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.nav-el a:hover{
    text-decoration: none;
    font-size: 20px;
    color: rgb(26, 105, 251);
}
.btn{
    width: 150px;
    height: 48px;
    background-color: rgb(26, 105, 251);
    color: white;
    border: none;
    border-radius: 6px;
    border: none;
}
.container{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 64px;
    margin-top: 90px;
}
.btn-t{
    margin-top: 40px;
}
h2{
    font-size: 52px;
    margin-top: 200px;
}
.container-2{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 32px;
}
.card{
    width: 350px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 6px;
    overflow: hidden;
}
.big{
    width: 100%;
}
.m-1{
    margin: 16px;
}
.left, .right{
    width: 50%;
    height: 500px;
    margin-top: 100px;
}
.hero{
    height: 100%;
    float: right;
    
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h4{
    font-size: 64px;
    margin-top: 32px;
}
.bi{
    font-size: 24px;
    font-weight: 500;
    display: none;
}

.overlay{
    display: none;
}


@media only screen and (max-width: 770px){
    .bi{
        font-size: 24px;
        font-weight: 500;
        display: block;
    }
    .hidden{
        display: none;
    }
    h1{
        font-size: 64px;
        margin-top: 90px;
        text-align: center;
    }
    .container-2{
        width: 90%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 32px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card{
        width: 350px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 2px solid black;
        border-radius: 6px;
        overflow: hidden;
        margin: 16px;
    }
    .left, .right{
        width: 90%;
        height:auto;
        margin-top: 100px;
    }
    img{
        width: 100%;
        border-radius: 12px;
    }
    h4{
        font-size: 32px;
        margin-top: 32px;
        text-align: center;
    }
    .left{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .overlay{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        width: 0%;
        overflow: hidden;
        left: 0px;
        top: 0px;
        background-color: rgb(255, 255, 255);
    }
    .overlay-el{
        height: 400px;
        width: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .overlay-el a{
        color: rgb(0, 94, 255);
        font-size: 24px;
        text-decoration: none;
        margin-top: 16px;
    }
    .overlay-el a:hover{
        color: rgb(62, 130, 248);
        font-size: 24px;
        text-decoration: none;
        margin-top: 16px;
    }
    
}



